@import "tailwindcss";

@theme {
  --color-light-green: oklch(0.6809 0.0856 174.53);
  --color-med-green: oklch(0.6924 0.0837 134.72);
  --color-dark-green: oklch(0.4003 0.065 200.83);
  --color-light-peach: oklch(0.8503 0.0426 351.31);
  --color-periwinkle: oklch(0.5712 0.1784 279.51);
}
